.background_login{
    width: 100%;
    height: 100vh;
    background: url("https://i.pinimg.com/originals/ab/b7/9a/abb79a18f2048bb73fb02f7eeccd4cba.jpg") no-repeat;
    
}
.background_home{
    width: 100%;
    height: 100vh;
    
    background-image: linear-gradient(blue, white);
    background-repeat: no-repeat;
    
}
.searchbar{
    border: black 1px solid;
    width: 800px;
}
.menu-font{
    font: 2rem/1.5rem var(--font-family-sans-serif)
}
.setBorder{
    border: black 1px solid;
}
.setBorder-bottom{
    border-bottom: lightgray 1px solid;
}
.img-manual {
    display: block;
    max-width: 100%;
    height: 100%;
  }
.overflow_visible{
    overflow: visible;
}
.container-login-form{
    -webkit-box-shadow: 0px 0px 48px 28px rgba(0,0,0,0.81);
    -moz-box-shadow: 0px 0px 48px 28px rgba(0,0,0,0.81);
    box-shadow: 0px 0px 48px 28px rgba(0,0,0,0.81);
}
.img-resize{
    margin: 0 auto;
    height: auto;
    width: 600px;
    min-height: 300px;
}
.carousel-shadow-box{
    -webkit-box-shadow: 0px 0px 95px 15px rgba(94,255,231,1);
    -moz-box-shadow: 0px 0px 95px 15px rgba(94,255,231,1);
    box-shadow: 0px 0px 95px 15px rgba(94,255,231,1);
}
.banner-border{
    border-radius: 98px 98px 98px 98px;
    -moz-border-radius: 98px 98px 98px 98px;
    -webkit-border-radius: 98px 98px 98px 98px;
    border: 5px solid #000000;
    -webkit-box-shadow: 0px 0px 95px 15px rgba(94,255,231,1);
    -moz-box-shadow: 0px 0px 95px 15px rgba(94,255,231,1);
    box-shadow: 0px 0px 95px 15px rgba(94,255,231,1);
}
.carousel-box-size{
    width: 700px;
    height: 360px;  
    margin: 20px auto;
}
.nav-link:hover{
    border-radius: 25px
    
}
.set-container{
    -webkit-box-shadow: 0px 0px 6px 10px rgba(147,216,250,1);
    -moz-box-shadow: 0px 0px 6px 10px rgba(147,216,250,1);
    box-shadow: 0px 0px 6px 10px rgba(147,216,250,1);
}
div.sticky {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
  }
.hideText{
    overflow: hidden;
    text-overflow: ellipsis;
    overflow-wrap: break-word;
}
.card-title{
    overflow: hidden;
    text-overflow: ellipsis;
    overflow-wrap: break-word;
    height: 100px;
    font-size: 25px;    
}
.card{
    margin: 0 2px;
    margin-top: 10px;
    
}
.font-sansrif{
    font-family: Arial, Helvetica, sans-serif;
}
.changebg:hover{
    background-color: cyan;
}
