.div1{
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 50px;
}
.searchbar{
    border: black 1px solid;
    width: 500px;
}
.menu-font{
    font: 2rem/1.5rem var(--font-family-sans-serif)
}
.setBorder{
    border: black 1px solid;
}